
<h1>All Concerts</h1>
 
<table>
 
  <tbody>
    <% @concerts.collect do |c| %>
      <tr>
        <td><%= c.artists %></td>
        <td><%= c.venue %></td>
        <td><%= c.city  %></td>
        <td><%= c.state %></td>
        <td><%= c.date  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 
<br>
 
<%= link_to "New concert", new_concert_path %>