<h1><%=@concert.artist.name%></h1>
<h2>By: <%=@concert.user.username%> </h2>

<div><%= @concert.experience.rating %></div>
<div><%= @concert.experience.comment %></div>

<p><%= link_to 'Add a new experience', new_concert_experiences_path(@concert)%></p>

<% if !@concert.experience.empty? %>
  <p><%= link_to 'See all comments', concert_experiences_path(@concert)%></p>
  <h4>Most Recent Experience:</h4>
  <% @concert.experiences.order(updated_at: :desc).limit(3).each do |c|%>
    <li>
      <strong><%= c.user.username%></strong> says "<%= link_to c.comments, concert_experience_path(@concert,c)%>" at <%= c.updated_at.strftime("%I:%M %p on %m/%d/%Y") %>
    </li>
  <% end %>
<% end %>